<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать!</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon-logo.png">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .logo {
            max-width: 300px;
            animation: fadeIn 2s;
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    </style>
</head>
<body>
<img src="../static/images/logo.png" alt="Логотип" class="logo">
<script>
    setTimeout(function() {
        window.location.href = '/showForm';
    }, 3000);
</script>
</body>
</html>